<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dream.web.mapper.PostMapper">

	<select id="listByUserIds" resultType="com.dream.web.entity.PostEntity">
		SELECT b.`id`,b.`post_code`,b.`post_name`,a.`user_id`
		FROM ts_user_post a
		LEFT JOIN sys_post b
		ON a.post_id=b.`id`
		WHERE
		a.`deleted`=0
		AND a.`user_id` IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>