<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.system.mapper.MenuMapper">

	<resultMap id="BaseResultMap" type="com.dream.system.entity.MenuEntity">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="menu_name" jdbcType="VARCHAR" property="menuName" />
		<result column="pid" jdbcType="BIGINT" property="pid" />
		<result column="level" jdbcType="VARCHAR" property="level" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="authority" jdbcType="VARCHAR" property="authority" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="open_style" jdbcType="INTEGER" property="openStyle" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="sort" jdbcType="INTEGER" property="sort" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_user" jdbcType="BIGINT" property="createUser" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_user" jdbcType="BIGINT" property="updateUser" />
	</resultMap>

	<sql id="BaseColumnList">
		a.id, a.menu_name, a.pid, a.level, a.url,a.authority, a.type, a.open_style, a.icon, a.sort, a.create_time, a.create_user,
		a.update_time,
		a.update_user
	</sql>

	<select id="list" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumnList" />
		FROM sys_menu a
		<where>
			<if test="query.id != null and query.id != ''">
				AND a.id = #{query.id, jdbcType=BIGINT }
			</if>
			<if test="query.menuName != null and query.menuName != ''">
				AND a.menu_name = #{query.menuName, jdbcType=VARCHAR }
			</if>
			<if test="query.pid != null and query.pid != ''">
				AND a.pid = #{query.pid, jdbcType=BIGINT }
			</if>
			<if test="query.level != null and query.level != '' ">
				<bind name="levelLike" value=" '%'+ query.level +'%' " />
				AND a.level LIKE #{levelLike}
			</if>
			<if test="query.url != null and query.url != ''">
				AND a.url = #{query.url, jdbcType=VARCHAR }
			</if>
			<if test="query.icon != null and query.icon != ''">
				AND a.icon = #{query.icon, jdbcType=VARCHAR }
			</if>
			<if test="query.sort != null and query.sort != ''">
				AND a.sort = #{query.sort, jdbcType=INTEGER }
			</if>
		</where>
		ORDER BY a.id DESC
	</select>

	<select id="getAuthorityList" resultType="string">
		SELECT authority FROM sys_menu WHERE deleted = 0
	</select>

	<select id="getUserAuthorityList" resultType="string">
		SELECT c.authority FROM sys_user_role a
		LEFT JOIN sys_role_menu b ON
		a.role_id = b.role_id
		LEFT JOIN sys_menu c ON b.menu_id = c.id
		WHERE a.user_id = #{userId} AND a.deleted = 0
		AND
		b.deleted = 0 AND c.deleted = 0
		ORDER BY c.sort ASC
	</select>

	<!-- 以下可能需要修改 -->
	<select id="getMenuList" resultType="com.dream.system.entity.MenuEntity">
		SELECT
		<include refid="BaseColumnList" />
		FROM sys_menu a
		<where>
			a.deleted = 0
			<if test="type != null">
				and a.type = #{type}
			</if>
		</where>
		ORDER BY a.sort ASC
	</select>

	<select id="getUserMenuList" resultType="com.dream.system.entity.MenuEntity">
		SELECT c.* FROM sys_user_role a
		LEFT JOIN sys_role_menu b on a.role_id = b.role_id
		LEFT JOIN sys_menu c ON
		b.menu_id =
		c.id
		<where>
			a.user_id = #{userId} AND a.deleted = 0 AND b.deleted = 0 AND
			c.deleted = 0
			<if test="type != null">
				AND c.type = #{type}
			</if>
		</where>
		ORDER BY c.sort ASC
	</select>
</mapper>